
.main_part {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.parts {           /* Примерные размеры изображений */
    height: auto;
    position: relative;
}
// .trapezoids {
//     bottom: 10px;
// }

.sholders {
    bottom: 20px;
}

.infraspinatus {
    bottom: 65px;
}

.triceps {
    bottom: 245px;
}

.grip {
    bottom: 280px;
}

.back {
    bottom: 120px
}

.ass {
    bottom: 335px;
}

.legs {
    bottom: 365px;
}