
.main_part {
    display: grid;
    grid-template-rows: repeat(6, auto); /* Настраиваешь количество строк */
    gap: 0px; /* Интервал между элементами */
    justify-items: center;
    margin-top: 50px;
}

.parts {
    height: auto;
}

.traziopen_back {
    margin-top: -5px;
}

.sholders {
    margin-top: -20px;
}

.infraspinatus {
    margin-top: -40px;
}

.back {
    margin-top: -50px;
}

.triceps {
    margin-top: -125px;
}

.grip {
    margin-top: -65px;
}

.gluteal_muscles {
    margin-top: -40px;
}

.hands {
    margin-top: -50px;
}

.legs {
    margin-top: -40px;
}

.calf_muscles {
    margin-top: -55px;
}

